# =============== #
# Unity generated #
# =============== #
Program/Project/SCSProject/[Tt]emp/
Program/Project/SCSProject/[Oo]bj/
Program/Project/SCSProject/[Bb]uild
Program/Project/SCSProject/[Ll]ibrary/
sysinfo.txt
*.stackdump

 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
Program/Project/SCSProject/*.userprefs
Program/Project/SCSProject/*.csproj
Program/Project/SCSProject/*.pidb
Program/Project/SCSProject/*.suo
Program/Project/SCSProject/*.sln*
/*.user
/*.unityproj
/*.booproj
Program/Project/SCSProject/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
